<div class="comment">
  <div class="pull-left avatar">
    <%= gravatar_image_tag comment.user.email, alt: comment.user.name %>
  </div>

  <div class="container">
    <div class="username">
      <%= comment.user.name %>
    </div>

    <div class="content">
      <%= comment.content %>
    </div>
  </div>
</div>
