<div class="search_option">
  <h3>Tags</h3>
  <ul>
    <% Tag.all.each do |tag| %>
      <li><%= link_to tag.name, tag_episodes_path(tag)%></li>
    <% end %>
  </ul>

  <br />
  <h3>赞助商</h3>
  <ul>
    <li><%= link_to image_tag('pragmaticly-logo.png'), 'https://fengche.co', target: '_blank' %></li><br />
    <li><%= link_to image_tag('https://www.upyun.com/images/logo.gif'), 'https://www.upyun.com/?md=Railscasts-china', target: '_blank'%></li><br />
    <li><%= link_to image_tag('http://qiniutek.com/images/logo-2.png'), 'http://qiniutek.com/', target: '_blank' %></li><br />
  </ul>

</div>
