<div class="search_option">
  <h3>Tags</h3>
  <ul>
    <% Tag.all.each do |tag| %>
      <li><%= link_to tag.name, tag_episodes_path(tag)%></li>
    <% end %>
  </ul>

  <br />
  <h3>赞助商</h3>
  <ul>
    <li><%= link_to image_tag('pragmaticly-logo.png'), 'https://pragmatic.ly', target: '_blank' %></li><br />
    <li><%= link_to image_tag('http://css42.42qu.us/png/42_39.png'), 'http://vps.42qu.com/by/10313012', target: '_blank' %></li><br />
    <li><%= link_to image_tag('https://www.upyun.com/images/logo.gif'), 'https://www.upyun.com/?md=Railscasts-china'%></li><br />
  </ul>

</div>
