<div class="search_option">
  <h3>Categories</h3>
  <ul>
    <li><a href="/?tag_id=2">Active Record</a></li>
    <li><a href="/?tag_id=19">Active Resource</a></li>
    <li><a href="/?tag_id=3">Active Support</a></li>
  </ul>
</div>
