/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap/mixins";

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin: 0 0 0 10px;
    padding: 0;
  }
}

header {
  .user-nav {
    color: #777;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 100px;
  }

  .logo {
    padding: 0 100px;
    margin: 50px auto 20px auto;

    #brand {
      font-size: 40px;
      a {
        color: #CB4B3D;
      }
    }

    .subscribe {
      li {
        .name {
          display: none;
        }
        &:hover .name {
          display: block;
          position: absolute;
          top: -22px;
          left: -84px;
          width: 200px;
          color: #000;
          text-align: center;
        }
      }

      img {
        width: 34px;
        height: 34px;
      }
    }
  }

  .navbar {
    .navbar-inner {
      @include border-radius(0);
      .container {
        padding: 0 80px;
      }

      .search-query {
        border-radius: 3px;
        width: 200px;
      }
    }
  }
}

.footer {
  text-align: center;
  margin-top: 40px;
}
