@import "bootstrap/mixins";

.comment {
  margin: 20px 0;

  .container {
    .username {
      padding: 5px 18px;
      font-size: 12px;
      border: solid 1px #BBB;
      border-bottom: none;
      @include border-radius(5px 5px 0 0);
      @include gradient-vertical(#EEE, #CCC);
    }

    .content {
      padding: 14px 18px;
      border: solid 1px #CCC;
      border-top: none;
      form {
        margin-bottom: 0px;
        textarea {
          width: auto;
        }
      }
    }
  }
}