// Place all the styles related to the Episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/mixins";

#main {
  .episode#episode {
    padding-left: 150px;

    > .content {
      margin-bottom: 20px;
    }

    .tabbable {
      padding: 6px 0 0 0;
      @include border-radius(6px 6px 0 0);
      @include gradient-vertical(#EEE, #CCC);

      .nav {
        margin-bottom: 0px;

        li {
          margin-left: 15px;
          min-height: 90;
          &.active {
            border-bottom: none;
            @include border-radius(5px 5px 0 0);

            a {
              background-color: #F5F5F5;
            }
          }
        }
      }

      .tab-content {
        padding: 15px;
        background-color: #F5F5F5;
      }
    }

    .code_block {
      margin: 12px 0;
      clear: both;
      .code_header {
        position: relative;
        background-color: #E0E0E0;
        font-size: 12px;
        padding: 4px 7px;
        border: solid 1px #B6B6B6;
        border-bottom: none;
      }

      .code_header .clippy {
        position: absolute;
        top: 4px;
        right: 7px;
      }

      .clippy_label {
        position: absolute;
        right: 20px;
        top: 1px;
        text-align: right;
        width: 200px;
        font-size: 10px;
        color: #555;
      }

      .CodeRay {
        overflow: auto;
        border: 1px solid #777;
        border-top: none;
        padding: 5px 7px;
        font-size: 13px;
        margin: 0;
        line-height: 17px;
      }

      code {
        border: solid 1px #CCC;
        background-color: #EEE;
        font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
        padding: 0 3px;
      }

      pre code {
        display: block;
        background-color: #EEE;
        padding: 5px 7px;
      }

    }
  }
}