<div class="content" id="about">
  <div class="terry">
    <%= image_tag "terrytai.png", :size => "200x173" %>
    <a href="http://twitter.com/poshboytl">Terry Tai</a>
  </div>
  <h1>关于RailsCasts China</h1>
  <p>RailsCasts China由<a href="http://twitter.com/poshboytl">太檑(Terry Tai)</a>制作。 此网站的目的是帮助中国Rails/Ruby社区中的程序员更快更方便的掌握Rails/Ruby开发技巧。这些Screencasts主要针对入门和中级用户。当然如果高级用户也能从中发现一些值得借鉴或者批评的地方，我更是倍感荣幸。我将尽量遵循由浅入深，循序渐进的原则来制作视频。但总体来讲所有视频是互相独立的，所以并不是一个体系完整的教程。因此并不适合作为唯一学习手段，而是更适合作为一种辅助。最后，希望对你有所帮助。</p>

  <h2>联系我</h2>
  <p>如果你有什么希望从视频中看到的内容，你可以用邮件的方式告诉我， 如果同样的需求较多，我会尽量满足。同时如果你发现什么错误的地方，欢迎你即时通知我。我会尽快做出更正，以免误导他人。我的邮件: poshboytl#gmail.com</p>


  <h2>视频中我用到的一些软件</h2>
  <ul>
    <li><a href="http://code.google.com/p/macvim/">MacVim</a> - MacVim is the text editor Vim for Mac OS X.</li>
    <li><a href="http://stephendeken.net/software/keycastr/">KeyCastr</a> - visual keyboard shortcuts</li>
    <li><a href="http://www.telestream.net/screen-flow/">ScreenFlow</a> - screencasting software for the Mac</li>
    <li><a href="http://www.iterm2.com/">iTerm2</a> - a replacement for Terminal and the successor to iTerm</li>
    <li><a href="https://www.google.com/chrome">Chrome</a> - Google Chrome is a browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier.</li>
    <li><a href="http://www.irradiatedsoftware.com/sizeup//">SizeUp</a> - The missing window manager for Mac OS X</li>
  </ul>

  <h2>源代码</h2>
  <p>
    如果你想学习本站的源代码你可以在这里下载: https://github.com/pragmaticly/railscasts-china
    如果你打算用此源代码建立其他网站或者用于商业目的请事先告知我一下。
    欢迎贡献代码，让我们一起打造一个适合初学者作为sample的优秀实际项目。
  </p>

  <h2>鸣谢</h2>
  <p>
    特别感谢我的朋友 <a href="http://twitter.com/yedingding">Dingding Ye</a>和我一起完成了这个项目的最初版本.
    还有<a href="https://twitter.com/Sol_liuyang">刘洋</a>为本站设计了logo.
  </p>

  <p>
    特别感谢<a href="https://fengche.co/" target="_blank">风车协作</a>, <a href="https://www.upyun.com/?md=Railscasts-china" target="_blank">又拍云</a>, <a href="http://qiniutek.com" target="_blank">七牛云存储</a> 对Railscasts-china的赞助。
  </p>



  <h2>广告</h2>
  <p>中国最好的Ruby社区，Ruby China： <a href="http://ruby-china.org/">http://ruby-china.org</a></p>

  <h2>协议</h2>
  <p>所有视频遵守 <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons</a> 协议. 但是如果你要修改视频，请提前和我联系。</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png" /></a></p>
</div>
