&copy; 2012 RailsCasts China -
Hosted by <a target="_blank" href="http://www.linode.com/?r=9d21476c5f80b278d73e3ec5918209dbd8ef7221" style="line-height: 0; display: inline-block; height: 39px;">Linode</a>
