<div class="row">
  <span class="span4" id="brand">
    <a href="/">RailsCasts China</a>
  </span>
  <span class="pull-right">
    <ul class="subscribe horizontal">
      <li>
        <a href="http://weibo.com/poshboytl">
          <%= image_tag 'icons/weibo.png' %>
        </a>
        <span class="name">在Weibo关注我</span>
      </li>

      <li>
        <a href="http://twitter.com/poshboytl">
          <%= image_tag 'icons/twitter.png' %>
        </a>
        <span class="name">在Twitter关注我</span>
      </li>

      <li>
        <a href="http://feeds.feedburner.com/RailscastsChina">
          <%= image_tag 'icons/rss.png' %>
        </a>
        <span class="name">订阅本站RSS</span>
      </li>
    </ul>
  </span>
</div>
