<form class="navbar-search" action="">
  <input type="text" class="search-query span2" placeholder="Search Episode">
</form>

<ul class="nav pull-right">
  <li><a href="/">Browse Episodes</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Feedback</a></li>
</ul>
