<form class="navbar-search" action="/episodes">
  <input name="query" type="text" class="search-query span2" placeholder="搜索">
</form>

<ul class="nav pull-right">
  <li><a href="/">Browse Episodes</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="#">Feedback</a></li>
</ul>
